<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ios Space shooter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>044481621EFA40AC00A05D15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0444817C1EFA40AC00A05D15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044481871EFA40AC00A05D15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
